button {
  font-size: 1.3rem;
  padding: 12px 32px;
  display: block;
  margin:  45vh auto;
  border: none;
  border-radius: 12px;
  background-color: white;
  color: #222;

}

.container{
  display: block;
  margin-left: auto;
  margin-right: auto;
}